extends layout

// Extend with custom CSS and JS for index page
block scripts
    // Custom CSS file for index page
    link(rel='stylesheet', href='/stylesheets/custom-index.css')
    // Custom javascript file for index page
    script(src="/js/index.js")

// TODO: Use jade template to simplify the code; implement generic blocks and handlebars
block content
    div('document-modals')
        div(id="iot-supporter-modal" class="modal fade" role="dialog")
            div(class="iot-supporter-modal-dialog modal-dialog")
                div(class="modal-content")
                    div(class="modal-header")
                        button(type="button", class="close", data-dismiss="modal") &times
                    div(class='modal-content-wrap')
                        div(class="modal-body")
                            h4 <b>We Need Your Support</b>
                            h5(class="modal-body-text") Join our mailing list, and hear about the latest news and releases
                            div(class="form-group")
                                input(class="form-control email-input", type="text", value="Your email address here")
                        div(class='modal-footer iot-modal-footer')
                            div(class='row')
                                div(class="col-sm-3 col-sm-offset-9")
                                    button(type="button", class="btn btn-primary iot-supporter-modal-subscribe-btn", data-dismiss="modal") Subscribe

    section(class='page-banner block')
        div(class='iot-banner')
            div(class='iot-comic-picture')
                div(class='iot-content', align='center')
                    h2(class="iot-content-text iot-content-name") ThingPedia
                    h4(class="iot-content-text iot-content-ad") Help the World Connect the Dots
                    h4(class="iot-content-text iot-content-short") An open source platform for IoT rules that you can execute anywhere you want
                    div(class='iot-btn-tab')
                        a(class='btn btn-primary iot-btn iot-btn-developer col-sm-4 col-sm-offset-1 col-xs-12', data-toggle="modal", data-target="#iot-supporter-modal") I'm a developer
                        a(class='btn btn-warning iot-btn iot-btn-subscribe col-sm-4 col-xs-12', data-toggle="modal", data-target="#iot-supporter-modal") I want to support


    section(class='white-block features')
        div(class='feature-row row')
            div(class='feature-two-text col-sm-5 col-sm-offset-1')
                h3(class='feature-title') The Next Solution for <a class='feature-title-link' href='http://www.forbes.com/sites/tjmccue/2015/04/22/117-billion-market-for-internet-of-things-in-healthcare-by-2020/' target="_blank">Healthcare IoT</a>
                p(class='feature-text') Across-the-board architecture for the inter-operability of all personal IoTs (Internet of Things), from health care for people with chronic diseases, as well as people keeping up with their health. 
                    a Learn More
            div(class='feature-zero-img col-sm-5 col-xs-12')
        div(class='feature-row row')
            div(class='feature-one-img col-sm-5 col-sm-offset-1 col-xs-12')
            div(class='feature-one-text col-sm-5')
                h3(class='feature-title') Anywhere You Want It to Be
                p(class='feature-text') We provide a crowdsourced platform. Everyone can deploy rules from the existing repositories, as well as create and share their own creativities. All the rules can be downloaded and run on the cloud, your own server or personal devices. 
                    a Learn More
        div(class='feature-row row')
            div(class='feature-two-text col-sm-5 col-sm-offset-1')
                h3(class='feature-title') Similar but Better
                p(class='feature-text') Rules are similar to IFTTT "recipes" and Zapier "zaps", but unlike these proprietary platforms, ThingPedia is opensourced and allows you to keep your own data. 
                    a Learn More
            div(class='feature-two-img col-sm-5 col-xs-12')


    section(class='subscribe')
        button(href="#" class="subscribe-button btn btn-default" data-toggle="modal" data-target="#iot-supporter-modal") Suscribe to ThingPedia
        div(class='subscribe-line')

    section(class='grey-block idea', id='browse')
        div
            h4(class='idea-title') Based on Pre-built Channels, These Rules Can Be Written within Dozens of Lines of Code...

        div(class="panel panel-default idea-row-wrap")
            div(class="panel-body")
                h4(class='idea-row-title') Medical IoT
                div(class='idea-row row')
                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-med-1")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-medkit fa-stack-1x")
                                div(class="idea-text")
                                    |Remind Me to Take Pills
                                    br
                                    | <i>---if---</i>
                                    br
                                    |Physician Subscribes

                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-med-2")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-stethoscope fa-stack-1x")
                                div(class="idea-text")
                                    |Appoint with Hospital
                                    br
                                    | <i>---if---</i>
                                    br
                                    |Two Months Later

                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-med-3")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-area-chart fa-stack-1x")
                                div(class="idea-text")
                                    |Call Doctor
                                    br
                                    | <i>---if---</i>
                                    br
                                    |Blood Pressure over 139/89mm


        div(class='idea-row-divider')

        div(class="panel panel-default idea-row-wrap")
            div(class="panel-body")
                h4(class='idea-row-title') Personal IoT
                div(class='idea-row row')
                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-1")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-taxi fa-stack-1x")
                                div(class="idea-text")
                                    |Call a Taxi
                                    br
                                    | <i>---if---</i>
                                    br
                                    |There's a Storm

                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-2")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-lightbulb-o fa-stack-1x")
                                div(class="idea-text")
                                    |Turn on Lights
                                    br
                                    | <i>---if---</i>
                                    br
                                    |It's at Dusk

                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-3")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-twitter fa-stack-1x")
                                div(class="idea-text")
                                    |Send a Tweet
                                    br
                                    | <i>---if---</i>
                                    br
                                    |Weather's Good

                div(class='idea-row row')
                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-4")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-credit-card fa-stack-1x")
                                div(class="idea-text")
                                    |Send Me a Text
                                    br
                                    | <i>---if---</i>
                                    br
                                    |My Card Gets Charged

                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-5")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-line-chart fa-stack-1x")
                                div(class="idea-text")
                                    |Send Me Notification
                                    br
                                    | <i>---if---</i>
                                    br
                                    |Stock is Up

                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-6")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-heartbeat fa-stack-1x")
                                div(class="idea-text")
                                    |Share My Activity
                                    br
                                    | <i>---if---</i>
                                    br
                                    |I Work out

                div(class='idea-row row last-row')
                    div(class="idea-panel-wrap col-md-4 col-md-offset-2")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-7")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-paw fa-stack-1x")
                                div(class="idea-text")
                                    |Call My Number
                                    br
                                    | <i>---if---</i>
                                    br
                                    |Fido is Lost :(

                    div(class="idea-panel-wrap col-md-4")
                        div(class="panel panel-primary idea-panel hvr-grow-shadow")
                            div(class="idea-panel-body panel-body")
                                span(class="fa-stack fa-lg hvr-rotate idea-icon icon-8")
                                  i(class="fa fa-circle-thin fa-stack-2x")
                                  i(class="fa fa-question fa-stack-1x")
                                div(class="idea-text")
                                    |Create Your Own
                                    br
                                    | <i>---if---</i>


    section(class='white-block case', id='platform')
        div
            h4.case-title Build Them up Easily Using Existing Platforms
        b
        div.case-platform-omlet.case-platform.case-slideLeft
            div.row
                div.case-platform-omlet-text.col-md-5.col-md-offset-1
                    h3.case-platform-text-title.case-platform-text.case-platform-title-omlet Omlet
                    p.case-text.case-platform-text Omlet is an open messaging system that lets users own their data in the repository of their choice. Based on Omlet, we create private communication between doctors, patients, and caregivers, as well as data transfer between IoTs.
                    a(class='btn case-btn case-btn-omlet') Download Omlet
                div.case-platform-omlet-img.col-md-5
        div.case-platform-sabrina.case-platform.case-slideRight
            div.row
                div.case-platform-sabrina-img.col-md-5.col-md-offset-1.row
                    div.case-platform-sabrina-img-2
                    div.case-platform-sabrina-img-1
                div.case-platform-sabrina-text.col-md-5.case-platform-text
                    h3.case-platform-text-title.case-platform-text.case-platform-title-sabrina Sabrina
                    p.case-text.case-platform-text Sabrina is an opensource messaging assistance platform built on Omlet. As a chat bot in the Omlet Chat app, Sabrina uses natural language to communicate with users, recommends and executes IoT rules, and can even provide emotional support through the chat interface.
                    a(class='btn case-btn case-btn-sabrina') Download Sabrina

    section(class='grey-block examples', id='examples')
        div
            h4.case-title Check Out Some of Our Examples
        div.case-title-line
        div.row.case-row
            div.col-md-4
                div.case-row-item
                    iframe(class="case-item-video", type="text/html", frameborder="0", src="http://www.youtube.com/embed/B072yE6Q4xY", autohide="1")
                    div.case-item-text
                        h5 Connecting Video Camera
                        p Once configured, Sabrina connects to the security camera and sends first-time pictures through Omlet using rule: <b><i>Send picture if door bell rings.</i></b>
                    div.case-expandUp
                        div.case-scroll-line
                        div.case-omlet-screen.case-screen-1
            div.col-md-4
                div.case-row-item
                    iframe(class="case-item-video", type="text/html", frameborder="0", src="http://www.youtube.com/embed/yyPsOw1RFb4", autohide="1")
                    div.case-item-text
                        h5 Device Finding
                        p Detecting the IoTs nearby using iBeacon. Based on the specific device, Sabrina will recommend a list of rules that can be installed. Rule: <b><i>Ask for permission if new device found</i></b>
                    div.case-expandUp
                        div.case-scroll-line
                        div.case-omlet-screen.case-screen-2
            div.col-md-4
                div.case-row-item
                    iframe(class="case-item-video", type="text/html", frameborder="0", src="http://www.youtube.com/embed/the-bmH97vw", autohide="1")
                    div.case-item-text
                        h5 Fitness Monitering
                        p Sabrina reads in data from local device and helps you automatically keep track of activities using rule: <b><i>Upload data if workout finished</i></b>
                    div.case-expandUp
                        div.case-scroll-line
                        div.case-omlet-screen.case-screen-3

    section(class='white-block team', id='about')
        br
        div
            h3.case-title Our Team
        div.team-title-line
        div.team-profile
            div.team-profile-row-big
                div.row
                    div.col-md-9.col-md-offset-2
                        div.team-profile-wrap
                            div.team-profile-elem.panel.team-profile-big.team-profile-img Monica Lam
                            div.team-profile-elem.team-profile-text
                                h4.team-profile-name Monica Lam
                                p Monica Lam is a Professor in the Computer Science Department at Stanford University since 1988. She received a B.Sc. from University of British Columbia in 1980 and a Ph.D. in Computer Science from Carnegie Mellon University in 1987. She is the Faculty Director of the Stanford MobiSocial Computing Laboratory and a co-PI in the POMI (Programmable Open Mobile Internet) 2020 project, which is an NSF Expedition started in 2008.
                            div
            div.team-profile-row-mid
                div.row
                    div.col-md-2
                        div.panel.team-profile-mid.team-profile-mid-1
                        div
                            h6.team-profile-mid-text.team-profile-name Giovanni Campagna
                            p.team-profile-mid-text.team-profile-mid-des CS MS, platform backend development
                    div.col-md-2
                        div.panel.team-profile-mid.team-profile-mid-2
                        div
                            h6.team-profile-mid-text.team-profile-name Albert Chen
                            p.team-profile-mid-text.team-profile-mid-des CS MS, web development
                    div.col-md-2
                        div.panel.team-profile-mid.team-profile-mid-3
                        div
                            h6.team-profile-mid-text.team-profile-name Michael Fischer
                            p.team-profile-mid-text.team-profile-mid-des CS PhD, UI UX design
                    div.col-md-2
                        div.panel.team-profile-mid.team-profile-mid-4
                        div
                            h6.team-profile-mid-text.team-profile-name Zhiyang He
                            p.team-profile-mid-text.team-profile-mid-des EECS BS, web development
                    div.col-md-2
                        div.panel.team-profile-mid.team-profile-mid-5
                        div
                            h6.team-profile-mid-text.team-profile-name Jiaqi Xue
                            p.team-profile-mid-text.team-profile-mid-des EE PhD, web front-end
                    div.col-md-2
                        div.panel.team-profile-mid.team-profile-mid-6
                        div
                            h6.team-profile-mid-text.team-profile-name Jiwon Seo
                            p.team-profile-mid-text.team-profile-mid-des CS PhD, platform development
        br
        br
        br
