.navbar{
	background-color: #F4F4F4;
}

.navbar .stanford{
	margin-left: -10px;
	margin-right: 10px;
	padding-top: 5px;
}

.scroller-choice{
}

.scroller-choice{
	font-size: 16px;
}

.navbar-icon-divider{
	margin-left: -9px;
	position: absolute;
    margin-top: 11px;
    height: 60%;
    border-left: 2px solid grey;
}