.navbar{
	background-color: #F4F4F4;
}

.navbar .stanford{
	margin-left: -30px;
	margin-top:4px;
	margin-right: 10px;
}

.scroller-choice{
}

.scroller-choice{
	font-size: 16px;
}

.navbar-icon-divider{
	margin-left: -5px;
    position: absolute;
    margin-top: 37%;
    height: 60%;
    border-left: 1px solid grey;
}